@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204, 88%, 56%, 1;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 204, 88%, 56%, 1;
    --primary-foreground: 210 40% 98%;

    --secondary: 0, 0%, 88%, 1;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch {
    border: none;
  }

  .number-input::-webkit-inner-spin-button,
  .number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* src/components/FontPicker.css */
.fontpicker,
.fontpicker * {
  box-sizing: border-box;
}
.fontpicker {
  border: 1px solid #e0e0e0 !important;
  border-radius: 5px !important;
  background: #fff !important;
  padding: 8px !important;
  color: #000 !important;
}
.fontpicker__preview {
  filter: invert(0);
}
.fontpicker__search {
  background-color: #fff !important;
  color: #000 !important;
}
.fontpicker__search:focus {
  cursor: text;
  opacity: 1;
}
.fontpicker__popout {
  background: #fff !important;
  color: #000 !important;
}
/* .fontpicker__popout.fontpicker__active {
  opacity: 1;
  transform: scale(1);
  color: #000;
} */
.fontpicker__option {
  background: #fff !important;
  color: #000 !important;
}
.fontpicker__option.selected {
  background: #fff !important;
  color: #000 !important;
}
.fontpicker__nomatches {
  background: #fff !important;
  color: #000 !important;
}
